<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tencent.wxcloudrun.dao.ArticleCommentMapper">

    <resultMap id="articleComment" type="com.tencent.wxcloudrun.model.comments.ArticleComment">
        <id property="commentId" column="comment_id"/>
        <result property="content" column="content"/>
        <result property="authorId" column="author_id"/>
        <result property="articleId" column="article_id"/>
        <result property="articleAuthorId" column="article_author_id"/>
        <result property="createdTimestamp" column="created_timestamp"/>
        <result property="rootCommentId" column="root_comment_id"/>
        <result property="rootCommentAuthorId" column="root_comment_author_id"/>

        <result property="leaveCommentId" column="leave_comment_id"/>
        <result property="leaveCommentAuthorId" column="leave_comment_author_id"/>

    </resultMap>


    <insert id="createArticleComment" parameterType="com.tencent.wxcloudrun.model.comments.ArticleComment">
        INSERT INTO `ArticleComments`(`comment_id`, `content`, `author_id`, `article_id`, `article_author_id`, `created_timestamp`, `root_comment_id`, `root_comment_author_id`, `leave_comment_id`, `leave_comment_author_id`)
            VALUE(#{commentId}, #{content}, #{authorId}, #{articleId}, #{articleAuthorId}, #{createdTimestamp}, #{rootCommentId}, #{rootCommentAuthorId}, #{leaveCommentId}, #{leaveCommentAuthorId})
    </insert>

    <select id="getFirstLevelCommentsForArticle" resultMap="articleComment" parameterType="java.lang.String">
        SELECT *
        FROM ArticleComments
        WHERE article_id = #{articleId}
        AND root_comment_id IS NULL
    </select>

    <select id="getSubCommentsForArticle" resultMap="articleComment" parameterType="java.lang.String">
        SELECT *
        FROM ArticleComments
        WHERE article_id = #{articleId}
        AND root_comment_id IS NOT NULL
    </select>


</mapper>