<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tencent.wxcloudrun.dao.ArticleMapper">

    <resultMap id="articleMapper" type="com.tencent.wxcloudrun.model.Article">
        <id property="articleId" column="articleId"/>
        <result property="title" column="title"/>
        <result property="articleType" column="article_type"/>
        <result property="merchantCategory" column="merchant_category"/>
        <result property="content" column="content"/>
        <result property="price" column="price"/>
        <result property="isDeliveryCovered" column="is_delivery_covered"/>
        <result property="deliveryMethod" column="delivery_method"/>
        <result property="location" column="location"/>
        <result property="isNeedHelp" column="is_need_help"/>
        <result property="createTimestamp" column="create_timestamp"/>
        <result property="updateTimestamp" column="update_timestamp"/>
        <result property="authorName" column="author_name"/>
        <result property="authorId" column="author_id"/>
        <result property="latitude" column="latitude" javaType="java.math.BigDecimal"/>
        <result property="longitude" column="longitude" javaType="java.math.BigDecimal"/>
        <result property="likeCount" column="like_count"/>
        <result property="viewCount" column="view_count"/>
        <result property="colCount" column="col_count"/>
        <result property="isStickTop" column="is_stick_top"/>
        <result property="isHidden" column="is_hidden"/>
        <result property="images" column="images"/>
        <result property="authorProfileUrl" column="author_profile_url"/>
    </resultMap>

    <select id="searchArticleByTitle" resultMap="articleMapper" parameterType="java.lang.String">
        SELECT *
        FROM Articles
        WHERE title like concat('%', #{target}, '%')
    </select>

    <select id="getArticleById" resultMap="articleMapper" parameterType="java.lang.String">
        SELECT *
        FROM Articles
        WHERE articleId = #{articleId}
    </select>

    <select id="getArticleByUserId" resultMap="articleMapper" parameterType="java.lang.String">
        SELECT *
        FROM Articles
        WHERE author_id = #{authorId}
    </select>

    <insert id="createArticle" parameterType="com.tencent.wxcloudrun.model.Article">
        INSERT INTO `Articles`(`articleId`, `title`, `article_type`, `merchant_category`, `content`, `price`, `is_delivery_covered`, `delivery_method`, `location`, `is_need_help`, `create_timestamp`, `update_timestamp`, `author_id`, `latitude`, `longitude`, `like_count`,`view_count`, `col_count`, `is_stick_top`, `images`)
            VALUE(#{articleId}, #{title}, #{articleType}, #{merchantCategory}, #{content}, #{price}, #{isDeliveryCovered}, #{deliveryMethod}, #{location}, #{isNeedHelp}, #{createTimestamp}, #{updateTimestamp}, #{authorId}, #{latitude}, #{longitude}, #{likeCount}, #{viewCount}, #{colCount}, #{isStickTop}, #{images})
    </insert>

    <select id="getRecentTenArticles" resultMap="articleMapper">
        SELECT *
        FROM Articles
    </select>

    <update id="hideArticle" parameterType="java.lang.String">
        UPDATE Articles
        SET is_hidden = true
        WHERE article_id=#{articleId};
    </update>

    <update id="showArticle" parameterType="java.lang.String">
        UPDATE Articles
        SET is_hidden = false
        WHERE article_id=#{articleId};
    </update>

</mapper>
