<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tencent.wxcloudrun.dao.ArticleCommentMapper">

    <resultMap id="articleComment" type="com.tencent.wxcloudrun.model.comments.ArticleComment">
        <id property="commentId" column="comment_id"/>
        <result property="content" column="content"/>
        <result property="authorId" column="author_id"/>
        <result property="repliedCommentId" column="replied_comment_id"/>
        <result property="repliedUserId" column="replied_user_id"/>
        <result property="createdTimestamp" column="created_timestamp"/>
        <result property="articleId" column="article_id"/>
    </resultMap>


    <insert id="createArticleComment" parameterType="com.tencent.wxcloudrun.model.comments.ArticleComment">
        INSERT INTO `ArticleComments`(`comment_id`, `content`, `author_id`, `replied_comment_id`, `replied_user_id`, `created_timestamp`, `article_id`)
            VALUE(#{commentId}, #{content}, #{authorId}, #{repliedCommentId}, #{repliedUserId}, #{createdTimestamp}, #{articleId})
    </insert>

    <select id="getFirstLevelCommentsForArticle" resultMap="articleComment" parameterType="java.lang.String">
        SELECT *
        FROM ArticleComments
        WHERE article_id = #{articleId}
        AND repliedCommentId NOT EXISTS
    </select>

    <select id="getSubCommentsForArticle" resultMap="articleComment" parameterType="java.lang.String">
        SELECT *
        FROM ArticleComments
        WHERE article_id = #{articleId}
        AND repliedCommentId EXISTS
    </select>


</mapper>