<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tencent.wxcloudrun.dao.ArticleCommentMapper">

    <resultMap id="articleComment" type="com.tencent.wxcloudrun.model.ArticleComment">
        <id property="commentId" column="comment_id"/>
        <result property="content" column="content"/>
        <result property="authorId" column="author_id"/>
        <result property="authorProfileUrl" column="author_profile_url"/>
        <result property="authorName" column="author_name"/>
        <result property="repliedCommentId" column="replied_comment_id"/>
        <result property="createdTimestamp" column="created_timestamp"/>
        <result property="articleId" column="article_id"/>
    </resultMap>


    <insert id="createArticleComment" parameterType="com.tencent.wxcloudrun.model.ArticleComment">
        INSERT INTO `ArticleComments`(`comment_id`, `content`, `author_id`, `author_profile_url`, `author_name`, `replied_comment_id`, `created_timestamp`, `article_id`)
            VALUE(#{commentId}, #{content}, #{authorId}, #{authorProfileUrl}, #{authorName}, #{repliedCommentId}, #{createdTimestamp}, #{articleId})
    </insert>

    <select id="getAllCommentsForArticle" resultMap="articleComment" parameterType="java.lang.String">
        SELECT *
        FROM ArticleComments
        WHERE article_id = #{articleId}
    </select>


</mapper>