<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tencent.wxcloudrun.dao.SwitchWechatIdMapper">

    <resultMap id="switchWechatIdPair" type="com.tencent.wxcloudrun.model.SwitchWechatIdPair">
        <id property="requesterUserId" column="requester_user_id"/>
        <result property="requesterUserName" column="requester_user_name"/>
        <result property="requesterUserProfileUrl" column="requester_userProfile_url"/>
        <result property="requesterUserWechatId" column="requester_user_wechat_id"/>
        <result property="requesterUserLocation" column="requester_user_location"/>
        <result property="requesterUserLocationId" column="requester_user_location_id"/>

        <result property="receiverUserId" column="receiver_user_id"/>
        <result property="receiverUserName" column="receiver_user_name"/>
        <result property="receiverUserProfileUrl" column="receiver_user_profile_url"/>
        <result property="receiverUserWechatId" column="receiver_user_wechat_id"/>
        <result property="receiverUserLocation" column="receiver_user_location"/>
        <result property="receiverUserLocationId" column="receiver_user_location_id"/>

        <result property="resourceArticleId" column="resource_article_id"/>
        <result property="resourceArticleTitle" column="resource_article_title"/>
        <result property="resourceArticleFirstPicUrl" column="resource_article_first_pic_url"/>

        <result property="creationTimestamp" column="creation_timestamp"/>
        <result property="approveTimestamp" column="approve_timestamp"/>
        <result property="lastUpdatedTimestamp" column="last_updated_timestamp"/>

        <result property="approvingStatus" column="approving_status"/>
    </resultMap>

    <insert id="createSwitchWechatIdRequest" parameterType="com.tencent.wxcloudrun.model.SwitchWechatIdPair">
        INSERT INTO `SwtichWechatIds`(`requester_user_id`, `requester_user_name`, `requester_userProfile_url`, `requester_user_wechat_id`, `requester_user_location`, `requester_user_location_id`,
                                      `receiver_user_id`, `receiver_user_name`, `receiver_user_profile_url`, `receiver_user_wechat_id`, `receiver_user_location`, `receiver_user_location_id`,
                                      `resource_article_id`, `resource_article_title`, `resource_article_first_pic_url`,
                                      `creation_timestamp`, `approve_timestamp`, `last_updated_timestamp`, `approving_status`)
            VALUE
            (#{requesterUserId}, #{requesterUserName}, #{requesterUserProfileUrl}, #{requesterUserWechatId}, #{requesterUserLocation}, #{requesterUserLocationId},
            #{receiverUserId}, #{receiverUserName}, #{receiverUserProfileUrl}, #{receiverUserWechatId},  #{receiverUserLocation}, #{receiverUserLocationId},
            #{resourceArticleId}, #{resourceArticleTitle}, #{resourceArticleFirstPicUrl},
            #{creationTimestamp}, #{approveTimestamp}, #{lastUpdatedTimestamp}, #{approvingStatus})
    </insert>

    <select id="getAllSwitchWechatIdRequestByUserId" resultMap="switchWechatIdPair" parameterType="java.lang.String">
        SELECT *
        FROM SwtichWechatIds
        WHERE requester_user_id = #{requesterUserId} OR receiver_user_id = #{receiverUserId}
        ORDER by last_updated_timestamp
     </select>

    <update id="approveSwitchWechatIdRequest" parameterType="com.tencent.wxcloudrun.model.SwitchWechatIdPair">
        UPDATE SwtichWechatIds
        SET approving_status=#{approvingStatus}
        WHERE requester_user_id = #{requesterUserId} AND receiver_user_id = #{receiverUserId}
    </update>

    <update id="getSwitchInfoBy2Ids" parameterType="com.tencent.wxcloudrun.model.SwitchWechatIdPair">
        SELECT *
        FROM SwtichWechatIds
        WHERE requester_user_id = #{requesterUserId} AND receiver_user_id = #{receiverUserId}
    </update>

</mapper>