<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tencent.wxcloudrun.dao.UserMessageMapper">

    <resultMap id="userMessage" type="com.tencent.wxcloudrun.model.UserMessage">
        <id property="messageId" column="message_id"/>
        <result property="receiverUserId" column="receiver_user_id"/>
        <result property="messageType" column="message_type"/>
        <result property="isMessageRead" column="is_message_read"/>
        <result property="requestingUserId" column="requesting_user_id"/>
        <result property="articleId" column="article_id"/>
        <result property="commentingUserId" column="commenting_user_id"/>
        <result property="createTimestamp" column="create_timestamp"/>
    </resultMap>

    <insert id="createUserMessage" parameterType="com.tencent.wxcloudrun.model.UserMessage">
        INSERT INTO `UserMessages`(`message_id`, `receiver_user_id`, `message_type`, `is_message_read`, `requesting_user_id`, `article_id`, `create_timestamp`)
            VALUE(#{messageId}, #{receiverUserId}, #{messageType}, #{isMessageRead}, #{requestingUserId}, #{articleId}, #{createTimestamp})
    </insert>

    <select id="getMyUserMessage" resultMap="userMessage" parameterType="java.lang.String">
        SELECT *
        FROM UserMessages
        WHERE user_id = #{userId}
    </select>

</mapper>